.info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: var(--color-info);

  time,
  span {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-size: 2rem;
}

.previewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 4rem;
  font-weight: 600;
  border-radius: 0.25rem;
  background-color: var(--color-heading);
  color: var(--color-background);
}