.contentContainer {
  max-width: 720px;
  margin: 0 auto;
  padding: 1.5rem 0.5rem;

  .posts {
    a {
      display: block;

      h1 {
        font-size: 1.75rem;
        letter-spacing: -0.5px;
        color: var(--color-heading);
        transition: 200ms;
      }
  
      h2 {
        margin-top: 0.5rem;
        font-size: 1.125rem;
        font-weight: 400;
      }

      & + a {
        margin-top: 3rem;
      }

      &:hover {
        h1 {
          color: var(--color-highlight);
        }
      }
    }

    button {
      background: none;
      border: none;
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--color-highlight);
      margin-top: 4rem;
      cursor: pointer;
    }
  }
}