.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.contentContainer {
  max-width: 720px;
  margin: 5rem auto 2rem;
  padding: 0.5rem;

  h1 {
    font-size: 3rem;
    letter-spacing: -0.5px;
    color: var(--color-heading);
  }

  .contentGroup {
    margin-top: 4rem;

    h2 {
      font-size: 2.25rem;
      color: var(--color-heading);
    }

    > div {
      margin-top: 2.25rem;
      font-size: 1.125rem;
      line-height: 1.575rem;
      list-style-position: inside;
      
      ul, ol {
        padding: 0.5rem;

        li {
          padding: 0.5rem 0;
        }
      }
    }
  }
}

.edit {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-style: italic;
  color: var(--color-info);
}

.footerContainer {
  max-width: 720px;
  margin: 2rem auto 5rem;
  padding: 0.5rem;
  border-top: 1px solid #D7D7D722;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: flex-end;
    margin-top: 3rem;
    margin-bottom: 5rem;

    .previousPost {
      text-align: left;
    }

    .nextPost {
      text-align: right;
    }

    p {
      font-size: 1.125rem;
      letter-spacing: -0.5px;
    }

    a {
      font-weight: 600;
      letter-spacing: -0.5px;
      color: var(--color-highlight);
      transition: 200ms;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}